{% extends 'base.html.twig' %}

{% block body %}
    {% set strings = [
        '<div class="display-3 text-uppercase fw-bold py-5">We can help <span style="color: #bc0357;">Reduce Development Costs</span></div>',
        '<div class="display-3 text-uppercase fw-bold py-5">We can help <span style="color: #bc0357;">Reduce Technical Debt</span></div>',
        '<div class="display-3 text-uppercase fw-bold py-5">We can help <span style="color: #bc0357;">Ensure Compliance and Security</span></div>',
        '<div class="display-3 text-uppercase fw-bold py-5">We can help <span style="color: #bc0357;">Improve Software Performance</span></div>',
        '<div class="display-3 text-uppercase fw-bold py-5">We can help <span style="color: #bc0357;">Enhance Application Scalability</span></div>',
        '<div class="display-3 text-uppercase fw-bold py-5">We can help <span style="color: #bc0357;">Increase Stability and Reliability</span></div>',
        '<div class="display-3 text-uppercase fw-bold py-5">We can help <span style="color: #bc0357;">Future-Proof Your Software</span></div>',
        '<div class="display-3 text-uppercase fw-bold py-5">We can help <span style="color: #bc0357;">Boost Customer Satisfaction</span></div>',
    ] %}


    <div class="container">
        <div class="row g-2 justify-content-center">


            <div class="col-12 col-md-8">
                <div id="carouselExampleDark" class="carousel slide">
                    <div class="carousel-inner">
                        {% for item in strings %}
                            <div class="carousel-item {{ loop.first ? 'active' }}" data-bs-interval="10000">

                                <div class="text-white fw-bold rounded-3 text-center m-3"
                                     style="background-color: #e0e2e3;background-image: url({{ asset('images/code-carousel.png') }});background-size: cover">
                                    <div class="pt-5 rounded-top px-2" style="background-color: rgba(0,0,0,0.45)">{{ item|raw }}</div>
                                    <div class="py-4 rounded-bottom" style="background-color: rgba(0,0,0,0.45)">
                                        <a href="{{ path('services') }}" class="btn btn-dark" type="button">View
                                            Services</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>


            <div class="col-12 col-md-8">
                <div class="my-5 lead text-center">
                    Ready to upgrade your PHP project?
                </div>


                <div class="fs-2 fw-bold mt-5 mb-3">What do our clients say?</div>

                <figure class="d-flex justify-content-start align-items-start">
                    <div class="me-3">
                        <img class="rounded-circle border border-3" width="50" height="50"
                             src="{{ asset('images/testimoals/dave.jpeg') }}">
                    </div>
                    <div>
                        <blockquote class="blockquote">
                            <p>"I take this opportunity to thank you for the massive effort you have put into getting
                                our project off the ground."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-end">
                            <cite title="Source Title">David Nunn - Senior Product Owner - RWE Renewables</cite>
                        </figcaption>
                    </div>
                </figure>
                <hr/>
                <figure class="d-flex justify-content-start align-items-start">
                    <div class="me-3">
                        <img class="rounded-circle border border-3" width="50" height="50"
                             src="{{ asset('images/testimoals/chris.jpeg') }}">
                    </div>
                    <div>
                        <blockquote class="blockquote">
                            <p>"Working with TCPX has been a phenomenal experience, so straight forward from the outset,
                                they demonstrated exceptional expertise and professionalism."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-end">
                            <cite title="Source Title">Christopher Carus - Co-Founder and CTO - Jut-so</cite>
                        </figcaption>
                    </div>
                </figure>
                <hr/>
                <figure class="d-flex justify-content-start align-items-start">
                    <div class="me-3">
                        <img class="rounded-circle border border-3" width="50" height="50"
                             src="https://placehold.co/300x300?text=RG">
                    </div>
                    <div>
                        <blockquote class="blockquote">
                            <p>"This was a game-changer for us. Not only streamlined our codebase but also significantly
                                reduced our development costs. Our software runs faster, and the stability improvements
                                have been remarkable."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-end">
                            <cite title="Source Title">Robert Grant - Director - Engiserve</cite>
                        </figcaption>
                    </div>
                </figure>
                <hr/>
                <figure class="d-flex justify-content-start align-items-start">
                    <div class="me-3">
                        <img class="rounded-circle border border-3" width="50" height="50"
                             src="{{ asset('images/testimoals/ryan.jpeg') }}">
                    </div>
                    <div>
                        <blockquote class="blockquote">
                            <p>"I'll admit, I was skeptical about the reality of automated refactoring at first.
                                The idea of trusting an external with our codebase seemed risky.
                                However, my doubts were completely dispelled. They have transformed our
                                software."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-end">
                            <cite title="Source Title">Ryan Jones - Project Manager</cite>
                        </figcaption>
                    </div>
                </figure>
            </div>


            <div class="row mt-5 g-3 justify-content-around align-items-center">
                <hr/>
                <div class="col-3 col-md-2">
                    <img class="img-fluid association-logo"
                         src="{{ asset('images/assosiation/rwe-logo-300.png') }}">
                </div>
                <div class="col-3 col-md-2">
                    <img class="img-fluid association-logo"
                         src="{{ asset('images/assosiation/vodafone-logo-300.png') }}">
                </div>
                <div class="col-3 col-md-2">
                    <img class="img-fluid association-logo"
                         src="{{ asset('images/assosiation/rector-logo-300.png') }}">
                </div>
                <div class="col-3 col-md-2">
                    <img class="img-fluid association-logo"
                         src="{{ asset('images/assosiation/townpoint-logo-300.png') }}">
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}