<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TCPX LLP{% endblock %}</title>
    {% block stylesheets %}
        <link rel="icon" type="image/png" href="{{ asset('images/logo-white.png') }}"/>
        <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700;800&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
              integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark nav-colour sticky">
    <div class="container">
        <img src="{{ asset('images/logo-dark.png') }}" class="logo-top" alt="" loading="lazy">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app.home' %}active{% endif %}"
                       href="{{ path('app.home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app.about' %}active{% endif %}"
                       href="{{ path('app.about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app.contact' %}active{% endif %}"
                       href="{{ path('app.contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 100vh">
    {% block body %}{% endblock %}
</div>

<div class="footer">
    <div>TCPX LLP - Company Number: OC432045</div>
    <div>www.tcpx.co.uk &copy; {{ 'now' | date('Y') }}</div>
</div>


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
</body>
</html>
