<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('images/logo.png') }}"/>
    <title>{% block title %}TCPX{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="Upgrade your PHP applications with TCPX. We specialize in PHP version upgrades, framework migrations, and database transitions to ensure security, performance, and maintainability. Contact us today!">
    <meta name="keywords" content="PHP upgrade services, PHP migration experts, PHP version update, PHP version migration support, legacy PHP, Symfony upgrade, Laravel migration, PHP 8, PHP support, framework upgrade, PHP development">
    <meta name="author" content="TCPX">
    <meta property="og:title" content="PHP Upgrades & Migrations – TCPX">
    <meta property="og:description" content="Upgrade your PHP applications with our services. We ensure smooth transitions, better performance, and long-term maintainability.">
    <meta property="og:url" content="https://tcpx.co.uk/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://tcpx.co.uk/assets/images/meta-image.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="PHP Upgrades & Migrations – TCPX">
    <meta name="twitter:description" content="We specialize in PHP version upgrades and framework migrations to keep your applications secure and optimized.">
    <meta name="twitter:image" content="https://tcpx.co.uk/assets/images/meta-image.png">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HY1P5Z0CLJ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-HY1P5Z0CLJ');
        </script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{{ include('partial/_navbar.html.twig') }}
<div class="min-vh-80">
    {% block body %}{% endblock %}
</div>
<div class="text-center text-muted">Copyright © {{ "now"|date("Y") }} tcpx.co.uk</div>
</body>
</html>
