<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container">
        <a class="navbar-brand gap-3" href="{{ path('app_index') }}">
            <div class="d-flex gap-4 align-items-center">
                <img src="{{ asset('images/logo.png') }}" height="40">
                <div class="">
                <div class="fs-5 lh-1 fw-bold">The Coding People X</div>
                <div class="small text-muted">Upgrade & Migration Services</div>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_index' ? "active" }}" aria-current="page" href="{{ path('app_index') }}">{{ 'home'|trans|title }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'services' ? "active" }}" href="{{ path('services') }}">{{ 'services'|trans|title }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'contact' ? "active" }}" href="{{ path('contact') }}">{{ 'contact'|trans|title }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>